<main>
  <section class="container mt-5 mb-5">
    <div class="row">
      <div class="col-8">
        <span class="list-title">All products</span>
      </div>
      <div class="col-4">
        <button
          type="button"
          class="btn btn-primary add-btn"
          (click)="triggerNewProductModal()"
        >
          <img src="./assets/icons/add.svg" />
          <span class="btn-text">Add new product</span>
        </button>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row mb-3">
      <div class="col-8">
        <span class="col-text">Name</span>
      </div>
      <div class="col-2">
        <span class="col-text">Price</span>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row list-items mb-3">
      <div class="col-8">
        <span>A list item</span>
      </div>
      <div class="col-2"><span>1200 €</span></div>
      <div class="col-2 delete-icon-wrapper">
        <img
          (click)="triggerDeleteProductModal()"
          src="./assets/icons/delete.svg"
        />
      </div>
    </div>

    <div class="row list-items mb-3">
      <div class="col-8">
        <span>A list item</span>
      </div>
      <div class="col-2"><span>1200 €</span></div>
      <div class="col-2 delete-icon-wrapper">
        <img
          (click)="triggerDeleteProductModal()"
          src="./assets/icons/delete.svg"
        />
      </div>
    </div>
  </section>

  <!-- Modal to create/delete product -->
  <div
    *ngIf="showCreateProductModal || showDeleteProductModal"
    class="modal d-flex justify-content-center align-items-center"
  >
    <div class="modal-content">
      <app-create-product
        *ngIf="showCreateProductModal"
        (closeModal)="triggerNewProductModal()"
      ></app-create-product>
      <app-delete-product
        *ngIf="showDeleteProductModal"
        (closeModal)="triggerDeleteProductModal()"
      ></app-delete-product>
    </div>
  </div>
</main>
